body {
    background-color: #fbfbfe;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0;x;
    width: 1080px;
    height: 1920px;
}
.divski{
    background-color: rgb(170, 201, 250);
    height: 200px;
    width: 134%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 70px;
}

.divska {
    background-color: rgb(170, 201, 250);
    height: 250px;
    width: 134%;
    margin-top: 180px;
    margin-bottom: 0px;
    padding-top: 70px;
}


.start {
    margin-top: 25px;
    margin-left: 640px;
    margin-bottom: 0px;
}
.start1 {
    margin-top: 25px;
    margin-left: 626px;
    font: menu;
}
.start2 {
    margin-top: 25px;
    margin-left: 470px;
}
.start3 {
    margin-top: 25px;
    margin-left: 652px;
    font: menu;
}

.shinji {
    width: 400px;
    height: 400px;
    margin-bottom: 0px;
    margin-left: 500px;
    position: relative; top: 4px;
}
.cloud1 {
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    display: inline-block;
    width: 400px;
    }
.cloud2 {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    display: inline-block;
    width: 400px;
}
span {
    width: 134%;
    height: 21%;
    display: inline-block;
}
.welcome {
    margin-top: 0px;
}
